<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/detalle-styles.css">
        <link rel="stylesheet" href="/css/header-footer-styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/969d33ecfa.js" crossorigin="anonymous"></script>
        <title>Detalle de Producto</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                    <div class="menu-logo">
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo">
                        <h2>Digital Sound</h2>
                        <!--<img src="#" alt="DigitalSound">-->
                    </div>
                </div>
            
                <nav>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-user"></i>
                </nav>
            </div>   
        </header>

        <main>

            <div class="item">
            <img src="images\fender-jazz-bass.jpg">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
            <div class="item-description">
                <h4>Fender Jazz Bass</h4>
                <p>Lorem ipsum</p>
                <h5>$1.234</h5>
            </div>
        
            <div>
                <button type="submit">Color</button>
            </div>
            <div>
                <button type="submit">Comprar ahora</button>
            </div>
            <div> 
                <button type="submit">Agregar al carrito</button>
            </div>
        
        </main>
        
       <footer>
            <div class="contact">
                <i class="fa-solid fa-circle-question"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-solid fa-phone"></i>
            </div>
        </footer>


    </body>
</html>