<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/css/login-styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>
    
    
    <body>

        <header>
            <nav>Digital Sound</nav>
        </header>
        
        
        <section>
            <div>
                <h3>Ofertas del día</h3>
            </div>
            <button>
                <article>
                    <img>
                    <h4>Guitarras y bajos</h4> 
                </article>
            </button>
            <button>
                <article>
                    <img>
                    <h4>Baterias</h4>
                </article>
            </button>
            <button>
                <article>
                    <img>
                    <h4>Amplificadores</h4>
                </article>
            </button>
            <button>
                <article>
                    <img>
                    <h4>Accesorios</h4>
                </article>
            </button>
        </section>
        
        <section>

            <div>
                <h3>Más vendidos</h3>
            </div>

            <button>
                <article>
                    <img>
                    <h4></h4>
                </article>
            </button>

            <button>
                <article>
                    <img>
                    <h4></h4>
                </article>
            </button>

        </section>
        
        <br><br>
        
        <footer>
            <button>
                <article>
                    <img>
                    <h6>Redes sociales</h6>
                </article>
            </button>
        </footer>
        

    </body>