<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index-styles.css">
        <link rel="stylesheet" href="/css/header-footer-styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/969d33ecfa.js" crossorigin="anonymous"></script>
        <title>Digital Sound</title>
    </head>
    <body>
        <header>   
            <div class="top-header">
                    <div class="menu-logo">
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo">
                        <h2>Digital Sound</h2>
                        <i class-="fa-solid fa-guitar"></i>
                    </div>
                </div>
                <div class="header-center">
                    <div class="search-container">
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
               
                <form class="form-desktop" action="#" method="GET">
                
                    <div class="input-container">
                        
                    <input type="text" name="search" placeholder="Encontrá el sonido que estás buscando!" class="input-search">
                    
                </div>
                </form>
            </div>
            </div>
                <div class="header-right">
                    <i class="fa fa-search icono-search" ></i>
                    <i class="fa-solid fa-cart-shopping icono"></i>
                    <i class="fa-solid fa-user icono"></i>
                </div>
            </div>
            <hr>
            <div class="bottom-header">
            <a href="login.html" style="margin-left:5px">Guitarras y Bajos</a>
            <p>|</p>
            <a href="login.html">Baterias</a>
            <p>|</p>
            <a href="login.html">Amplificadores</a>
            <p>|</p>
            <a href="login.html">Accesorios</a>
            <p>|</p>
            <a href="login.html">Marcas</a>
            <p>|</p>
            <a href="login.html">Nuevos Ingresos</a>
            <p>|</p>
            <a href="login.html">Usados</a>

            </div>

        </header>
        <main>
            <div class="main-container">
            <h2>Ofertas del día</h2>
            <section class='carrousel'>
                <img src="images\music-store.jpg">
                <i class="fa-solid fa-chevron-right"></i>
                <i class="fa-solid fa-chevron-left"></i>
            </section>
                <!-- no hace falta el button, generalmente se envuelve la imagen en un link -->
                <!-- 
                    <a href="#"> <img src="">  </a>
                    Así si hacés click en cualqueir parte de la imagen te lleva al link especificdo
                    en href
                -->
            <nav class="categories">
                <article class="categories categories--guitars">
                    <a href="#">Guitarras y bajos</a>
                </article>
                <article class="categories categories--drums">
                    <a href="#">Baterias</a>
                </article>
                <article class="categories categories--amps">
                    <a href="#">Amplificadores</a>
                </article>
                <article class="categories categories--accesories">
                    <a href="#">Accesorios</a>
                </article>
            </nav>
            <h3>Más vendidos</h3>
            <div class="popular-items">
                <div class="item">
                    <img src="images\fender-jazz-bass.jpg">
                    <div class="item-description">
                        <h4>Fender Jazz Bass</h4>
                        <p>Lorem ipsum</p>
                        <h5>$1.234</h5>
                    </div>
                </div>
                <div class="item">
                    <img src="images\fender-jazz-bass.jpg">
                    <div class="item-description">
                        <h4>Fender Jazz Bass</h4>
                        <p>Lorem ipsum</p>
                        <h5>$1.234</h5>
                    </div>
                </div>
                <div class="item">
                    <img src="images\fender-jazz-bass.jpg">
                    <div class="item-description">
                        <h4>Fender Jazz Bass</h4>
                        <p>Lorem ipsum</p>
                        <h5>$1.234</h5>
                    </div>
                </div>
                <div class="item">
                    <img src="images\fender-jazz-bass.jpg">
                    <div class="item-description">
                        <h4>Fender Jazz Bass</h4>
                        <p>Lorem ipsum</p>
                        <h5>$1.234</h5>
                    </div>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
                <i class="fa-solid fa-chevron-left"></i>
            </div>
        </div>
        </main>
        
        <footer>
            <div class="footer-container">
            <div class="contact">
                <i class="fa-solid fa-circle-question"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-solid fa-headset icono"></i>
            </div>
            <div class="footer-center">
    
            <a href="login.html">Acerca de Nosotros</a>
            <p>|</p>
            <a href="login.html">Devoluciones</a>
            <p>|</p>
            <a href="login.html">Lutiers</a>
            <p>|</p>
            <a href="login.html">Trabajá con DS</a>
            </div>
            <div class="footer-right">
                   
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            </div>
        </footer>
    </body>
    
