<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Sound</title>
</head>
<body>
        <header>
            <nav>Digital Sound</nav>
        </header>
        
        
        <section>
            <div>
                <h3>Ofertas del día</h3>
            </div>
            <button>
                <article>
                    <img>
                    <h4>Guitarras y bajos</h4> 
                </article>
            </button>
            <button>
                <article>
                    <img>
                    <h4>Baterias</h4>
                </article>
            </button>
            <button>
                <article>
                    <img>
                    <h4>Amplificadores</h4>
                </article>
            </button>
            <button>
                <article>
                    <img>
                    <h4>Accesorios</h4>
                </article>
            </button>
        </section>
        
        <section>

            <div>
                <h3>Más vendidos</h3>
            </div>

            <button>
                <article>
                    <img>
                    <h4></h4>
                </article>
            </button>

            <button>
                <article>
                    <img>
                    <h4></h4>
                </article>
            </button>

        </section>
        
        <br><br>
        
        <footer>
            <button>
                <article>
                    <img>
                    <h6>Redes sociales</h6>
                </article>
            </button>
        </footer>
        

  
</body>
</html>