<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index-styles.css">
        <link rel="stylesheet" href="/css/header-footer-styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/969d33ecfa.js" crossorigin="anonymous"></script>
        <title>Digital Sound</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                    <div class="menu-logo">
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo">
                        <h2>Digital Sound</h2>
                        <!--<img src="#" alt="DigitalSound">-->
                    </div>
                </div>
                <form class="form-desktop" action="#" method="GET">
                    <input type="text" name="search" placeholder="Buscar productos, marcas, y más" class="input">
                    <button type="submit" class="submit"><i class="fa fa-search"></i></button>
                </form>
                <nav class="header-nav">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-user"></i>
                </nav>
            </div>

        </header>
        <main>
            <section>
                <h2>Ofertas del día</h2>
                <div class='carrousel'>
                    <img src="images\music-store.jpg">
                    <i class="fa-solid fa-chevron-right"></i>
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
            </section>
                <!-- no hace falta el button, generalmente se envuelve la imagen en un link -->
                <!-- 
                    <a href="#"> <img src="">  </a>
                    Así si hacés click en cualqueir parte de la imagen te lleva al link especificdo
                    en href
                -->
            <section>
                <nav class="categories">
                    <article class="categories categories--guitars">
                        <a href="#">Guitarras y bajos </a>
                    </article>
                    <article class="categories categories--drums">
                        <a href="#">Baterias</a>
                    </article>
                    <article class="categories categories--amps">
                        <a href="#">Amplificadores</a>
                    </article>
                    <article class="categories categories--accesories">
                        <a href="#">Accesorios</a>
                    </article>
                </nav>
            </section>
            <section>
                <h3>Más vendidos</h3>
                <div class="popular-items">
                    <div class="item">
                        <img src="images\fender-jazz-bass.jpg">
                        <div class="item-description">
                            <h4>Fender Jazz Bass</h4>
                            <p>Lorem ipsum</p>
                            <h5>$1.234</h5>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images\fender-jazz-bass.jpg">
                        <div class="item-description">
                            <h4>Fender Jazz Bass</h4>
                            <p>Lorem ipsum</p>
                            <h5>$1.234</h5>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images\fender-jazz-bass.jpg">
                        <div class="item-description">
                            <h4>Fender Jazz Bass</h4>
                            <p>Lorem ipsum</p>
                            <h5>$1.234</h5>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images\fender-jazz-bass.jpg">
                        <div class="item-description">
                            <h4>Fender Jazz Bass</h4>
                            <p>Lorem ipsum</p>
                            <h5>$1.234</h5>
                        </div>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
        </section>
        </main>
        <footer>
            <div class="contact">
                <i class="fa-solid fa-circle-question"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="socials">
                
            </div>
        </footer>

    </body>
</html>
