<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <link rel="stylesheet" href="/css/login-styles.css">
        <link rel="stylesheet" href="/css/header-footer-styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/969d33ecfa.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="top-header">
                    <div class="menu-logo">
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo">
                        <h2>Digital Sound</h2>
                        <!--<img src="#" alt="DigitalSound">-->
                    </div>
                </div>
                <form class="form-desktop" action="#" method="GET">
                    <input type="text" name="search" placeholder="Buscar productos, marcas, y más" class="input">
                    <button type="submit" class="submit"><i class="fa fa-search"></i></button>
                </form>
                <nav class="header-nav">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <i class="fa-solid fa-user"></i>
                </nav>
            </div>
        </header>
        <main>
            <div class="login-block">
                <h2>Iniciar sesión o <a href="/registro">crear una cuenta</a></h2>
                <form action="#" method="GET" class="form-ingreso">
                    <div class="control-formulario">
                        <input type="email" name="email" placeholder="Email" >
                    </div>
                    <div class="control-formulario">
                        <input type="password" name="password" placeholder="Contraseña">
                    </div>
                    <div class="control-formulario control-formulario--remember">
                        <label>Recuérdame</label>
                        <input type="checkbox" name="remember">
                    </div>
                    <div class="control-formulario">
                        <button type="submit" class="button button--submit">Continuar</button>
                    </div>
                    <div>
                        <p class="legend legend--tyc"><a href=#>¿Olvidaste tu contraseña?</a></p>
                    </div>
                </form>
            </div>
            <div class="login-block">
                <h3>O ingresá con tus redes sociales</h3>
                <hr>
                <div class="social-networks">
                    <button class="button button--facebook">Continuar con Facebook</button>
                    <button class="button button--google">Continuar con Google</button>
                    <button class="button button--apple">Continuar con Apple</button>
                </div>
            </div>
        </main>
    </body>
</html>