<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <link rel="stylesheet" href="/css/login-styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="login-block">
            <h2>Iniciar sesión o <a href="#">crear una cuenta</a></h2>
            <form action="#" method="GET" class="form-ingreso">
                <div class="control-formulario">
                    <input placeholder="Ingresá tu email" >
                </div>
                <div class="control-formulario">
                    <input placeholder="Ingresá tu contraseña">
                </div>
                <div class="control-formulario">
                    <button type="submit" class="button button--submit">Continuar</button>
                </div>
            </form>
        </div>
        <div class="login-block">
            <h3>O ingresá con tus redes sociales</h3>
            <hr>
            <div class="social-networks">
                <button class="button button--facebook">Continuar con Facebook</button>
                <button class="button button--google">Continuar con Google</button>
                <button class="button button--apple">Continuar con Apple</button>
            </div>
        </div>
    </body>