<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    </head>
    <body>
        <div>
            <h1>Iniciar sesión o crear una cuenta</h1>
            <h4>Nombre de usuario o Email</h4>
                <input placeholder="Ingresá tu email" >
            <h4>Contraseña</h4>
                <input placeholder="Ingresá tu contraseña"> <br>
            <a><button>Continuar</button></a>
        </div>
        <div>
            <h1>O ingresá con tus redes sociales</h1>
            <h3><button>Continuar con Facebook</button></h3>
            <h3><button>Continuar con Google</button></h3>
            <h3><button>Continuar con Apple</button></h3>
        </div>
    </body>