<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" href="/css/register-styles.css">
        <link rel="stylesheet" href="/css/header-footer-styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/969d33ecfa.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <header>   
            <div class="top-header">
                    <div class="menu-logo">
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="logo">
                        <h2>Digital Sound</h2>
                        <i class-="fa-solid fa-guitar"></i>
                    </div>
                </div>
                <div class="header-center">
                    <div class="search-container">
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
               
                <form class="form-desktop" action="#" method="GET">
                
                    <div class="input-container">
                        
                    <input type="text" name="search" placeholder="Encontrá el sonido que estás buscando!" class="input-search">
                    
                </div>
                </form>
            </div>
            </div>
                <div class="header-right">
                    <i class="fa fa-search icono-search" ></i>
                    <i class="fa-solid fa-cart-shopping icono"></i>
                    <i class="fa-solid fa-user icono"></i>
                </div>
            </div>
            <hr>
            <div class="bottom-header">
            <a href="login.html" style="margin-left:5px">Guitarras y Bajos</a>
            <p>|</p>
            <a href="login.html">Baterias</a>
            <p>|</p>
            <a href="login.html">Amplificadores</a>
            <p>|</p>
            <a href="login.html">Accesorios</a>
            <p>|</p>
            <a href="login.html">Marcas</a>
            <p>|</p>
            <a href="login.html">Nuevos Ingresos</a>
            <p>|</p>
            <a href="login.html">Usados</a>

            </div>

        </header>
        <main>
            <div class="legend-box">
                <p class="legend">Crear una cuenta es rápido, fácil y gratis! Con ella vas a poder acceder a todas las facilidades que tenemos para ofrecerte</p>
            </div>
            <div class="body-flexbox">
                <div class="login-block">
                    <h2>¡Crea una cuenta!</h2>
                    <p class="legend legend-register">Crear una cuenta es rápido, fácil y gratis! Con ella vas a poder acceder a todas las facilidades que tenemos para ofrecerte</p>
                    <form action="#" method="GET" class="form-ingreso">
                        <div class="control-formulario control-formulario--name-surname">
                            <input placeholder="Nombre">
                            <input placeholder="Apellido">
                        </div>
                        <div class="control-formulario">
                            <input placeholder="Email">
                        </div>
                        <div class="control-formulario">
                            <input placeholder="Contraseña">
                        </div>
                        <div class="control-formulario">
                            <input placeholder="Repetir contraseña">
                        </div>
                        <button type="submit" class="button button--submit">Crear cuenta</button>
                        </form>
                    <p class="legend legend--tyc">Al crear una cuenta, aceptas nuestros <a href=#>términos y condiciones</a></p>    
                </div>
                <div class="vertical-line" style="height: 150px">
                </div>
                <div class="login-block">
                    <h3>O ingresá con tus redes sociales</h3>
                    <hr>
                    <div class="social-networks">
                        <button class="button button--facebook">Continuar con Facebook</button>
                        <button class="button button--google">Continuar con Google</button>
                        <button class="button button--apple">Continuar con Apple</button>
                    </div>
                </div>
            </div>
        </main>        
        <footer>
            <div class="footer-container">
            <div class="contact">
                <i class="fa-solid fa-circle-question"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-solid fa-headset icono"></i>
            </div>
            <div class="footer-center">
    
               <a href="login.html">Acerca de Nosotros</a>
            <p>|</p>
            <a href="login.html">Devoluciones</a>
            <p>|</p>
            <a href="login.html">Lutiers</a>
            <p>|</p>
            <a href="login.html">Trabajá con DS</a>
            </div>
            <div class="footer-right">
                   
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            </div>
        </footer>  
    </body>