<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    </head>
    <body>
        <div>
            <h1>¡Crea una cuenta!</h1>
            <h4>Crear una cuenta es rápido, fácil y gratis! Con ella vas a poder acceder a todas las facilidades que tenemos para ofrecerte</h4>
            <h3>Nombre</h3>
                <input placeholder="Ingresá tu nombre" >
            <h3>Apellido</h3>
                <input placeholder="Ingresá tu apellido" >
            <h3>Email</h3>
                <input placeholder="Ingresá tu mail" >
            <h3>Contraseña</h3>
                <input placeholder="Ingresá tu contraseña" >
            <h3>Repeti contraseña</h3>
                <input placeholder="Repeti tu contraseña" >
            <h1><button>Crear cuenta</button></h1>
        </div>    
        <div>
            <h4>Al crear una cuenta, aceptar nuestros términos y condiciones</h4>
            <h1>O ingresá con tus redes sociales</h1>
            <h3><button>Continuar con Facebook</button></h3>
            <h3><button>Continuar con Google</button></h3>
            <h3><button>Continuar con Apple</button></h3>
        </div>        
    </body>