* {
    font-family: 'Yantramanav', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin: auto;
}

h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.section-resumen-compra {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section-resumen-compra__titulo {
    font-size: 16px;
}

.section-precio-cant {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.section-precio-cant__contenedor-precio {
    width: 45%;
    border: solid 1px green;

}

.section-resumen-compra__boton {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


.section-resumen-compra__boton button {
    margin: auto;
    border: solid 1px #000;
    border-radius: 5px;

}

.section-precio-cant__contenedor-cant {
    width: 45%;
    border: solid 1px blue;
}

.section-precio-cant__contenedor-precio--txt-precio{
    font-size: 12px;
    font-weight: 700;
}

.section-precio-cant__contenedor-precio--txt-cant {
    font-size: 12px;
    font-size: 10px;
    font-weight: 300;
    text-align: right;
}