* {
    font-family: 'Yantramanav', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

main{
    margin-top: 55px;
}

body {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 90%;
    text-align: center;
    max-width: 400px;
    flex-direction: column;
}

