body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    margin: auto;
    margin-top: 60px;
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #FFF;
    border-bottom: 1px solid #000;
    z-index: 1;
    
}

header h2 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

header i{
    margin: 0;
    padding: 0;
    text-align: left;
}

header button.submit{
    margin:0;
    padding:0;
}

header button.submit i.fa-search{
    text-align: center;
}

.input-search{
    padding: 0;
    margin: 0;
}

.submit{
    display: flex;
    height: fit-content;
    width: fit-content;
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
}

.fa-bars{
    text-align: center;
}

.menu-logo{
    display: flex;
    align-items: center;
    width: 1/3
}

.footer-container{
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
}

.contact{
    width: 50%;
   
}
.footer-right{
    width: 50%;
}


.logo{
    justify-self: left;
    margin-left: 5px;
}


.form-desktop{ 
    display: none;

}

.top-header button{
    background-color: #FFF;
    border: none;
}

footer{
    height: 50px;
    flex-shrink: 0;
    width:100vw;
    background-color: #FFF;
    z-index: 1;
    border-top: 1px solid black;
    margin-top: 50px;
}

.main-container{
    width:80%
}

footer div.contact{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.search-container{
    display: none;
}



.header-center{
    width:1/3
}

.header-right{
    width:1/3
}


.fa.fa-facebook , 
.fa.fa-instagram, 
.fa.fa-twitter {
	color: #b1aca1;
	font-size: 20px;
	padding: 10px;
}

.icono-search{
    display: flex;
}

.fa.fa-facebook , 
.fa.fa-instagram, 
.fa.fa-twitter{
	color: #6794c2;
}

.top-header i{
    width: 30px;
}

.bottom-header{
    height: 30px;
    display: none;
    align-items:center;
    justify-content:left;  
    font-size: 12px;
     
}

.bottom-header a{
    margin-inline: 2px;
    color: black;
    text-decoration: none;
}



.footer-center{
    display: none;  
}

.footer-center a{
    margin-inline: 2px;
    color: black;
    text-decoration: none;
}

.footer-right{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

@media (min-width: 768px){
    main{
        margin: auto;
        margin-top: 100px;
    }

    .search-container{
        display: flex;
        border-radius: 10px;
        border: 1px solid grey;
        height: 32px;
        width: 315px;
        align-items: center;
       }

    .burger-menu{
        display: none;
    }

    .bottom-header{
        display: flex;
    }

    .form-desktop{
        display: flex;
        width: 80%;

    }
    .input-search:focus{
        border: none;
        outline: none;
    }
    .input-search{
        border:none;
        width: 100%;
    }

    .input-container{
        width: 100%
    }

   .footer-center{
    display: flex !important ;
    width: 60% !important;
    height: 30px;
    align-items:center;
    justify-content:center;  
    font-size: 14px;

   }
   .footer-right{
    width:20% !important;
    
}

.contact{  
    width: 20% !important;    
}

.icono-search{
    display:none !important;
}
}






