header{
    position: fixed;
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #FFF;
    border-bottom: 1px solid #000;
    z-index: 1;
    justify-content: center;
}

header .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 10px 0px;
}

.menu-logo{
    display: flex;
    align-items: center;
}

.logo{
    justify-self: left;
}

.form-desktop{ 
    display: none;
}

.top-header button{
    background-color: #FFF;
    border: none;

}

.top-header i{
    width: 30px;
}

footer{
    position: relative;
    bottom: 0px;
    display: flex;
    margin: 15px 0px;
    padding: 5px;
}

footer div.contact{
    display: flex;
    width: 33%;
    justify-content: space-evenly
}