* {
    font-family: 'Yantramanav', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 90%;
    text-align: center;
    max-width: 400px;
    flex-direction: column;
}

.categories{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.categories article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 60px;
    border: solid 1px black;
    margin: 10px;
    overflow: hidden;
}

.categories--guitars{
    background-image: url('../images/Gitarre-Bass.jpg');
    background-position: center;
    background-size: contain; 
}

.categories--drums{
    background-image: url('../images/drums.jpg');
    background-position: center;
    background-size: 100% 100%;  
}

.categories--amps{
    background-image: url('../images/wallofamps.jpg');
    background-position: center;
    background-size: 100% 100%;  
}

.categories--accesories{
    background-image: url('../images/cool-guitar-gadgets-682x351.png');
    background-position: center;
    background-size: 100% 100%;  
}

body h3 {
    text-align: left;
}

.popular-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-flow: column;
    margin: 10px 0px;
    width: 45%;
    align-items: center;
    border: solid 1px black;
}

.item img {
    margin: 5px;
    height: 100px;
    length: 100px;
}

.item .item-description {
    text-align: left;
}