* {
    font-family: 'Yantramanav', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    margin: auto;
    margin-top: 55px;
    padding: 0px 10px;
    width: 90%;
    text-align: center;
    max-width: 400px;
    flex-direction: column;
}

.legend-box{
    display: none;
}

h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.legend {
    font-size: 10px
}

.login-block {
    margin-bottom: 20px;
}

.login-block h3 {
    padding-bottom: 10px;
}

.login-block hr {
    width: 80%;
    margin: auto;
}

.form-ingreso {
    display: block;
    width: 100%;
    margin: 10px 0px;
}

.social-networks {
    padding-top: 10px;
}

div.control-formulario input,button{
    margin: 2px;
    width: 60%;
    border-width: 1px;
    border-radius: 5px;
}

.control-formulario--remember {
    display: flex;
    justify-content: center;
    margin: 5px 0px
}

div.control-formulario--remember input, label{
    font-size: 12px;
    color: #666;
    width: 30%;
    text-align: left;
    margin: 0px -2px;
}

.button {
    border: none;
    border-radius: 15px;
    width: 60%;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    color: #FFF
}

.button--submit {
    background-color: #666;
    border-radius: 5px;
    height: 30px;
}

.button--facebook {
    background-color: #3b5998;
}

.button--google {
    background-color: #db4437;
}

.button--apple {
    background-color: #000;
}

@media (min-width: 768px) {

    main {
        margin-top: 90px;
    }
}