* {
    font-family: 'Yantramanav', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: auto;
    overflow-x: hidden; 
}

main {
    margin-top: 60px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;  
}

.legend-box{
    display: none;
}

h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.legend {
    font-size: 10px
}

.login-block {
    margin-bottom: 20px;
}

.login-block h3 {
    padding-bottom: 10px;
}

.login-block hr {
    width: 80%;
    margin: auto;
}

.form-ingreso {
    display: block;
    width: 100%;
    margin: 10px 0px;
}

.social-networks {
    padding-top: 10px;
}

div.control-formulario input,button{
    margin: 2px;
    width: 60%;
    border-width: 1px;
    border-radius: 5px;
}

.control-formulario--name-surname{
    display: flex;
    width:60%;
    margin: auto;
    justify-content: space-between;
}

div.control-formulario--name-surname input{
    margin: 2px 0px;
    width: 49%;
}

.button {
    border: none;
    border-radius: 15px;
    width: 60%;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    color: #FFF
}

.button--submit {
    background-color: #666;
    border-radius: 5px;
    height: 30px;
}

.button--facebook {
    background-color: #3b5998;
}

.button--google {
    background-color: #db4437;
}

.button--apple {
    background-color: #000;
}

.vertical-line{
    display: none;
}

@media (min-width: 768px) {
    main {
        margin-top: 90px;
    }

    body {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .legend-box{
        display: flex;
        justify-content: center;
        width: 30%;
        margin: 20px auto;
    }

    .body-flexbox {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .login-block {
        width: 50%;
    }

    .legend-register{
        display: none;
    }

    main hr {
        visibility: hidden;
    }

    .vertical-line {
        display: block;
        border-left: solid 1px black
    }
    .icono-search{
        display:none !important;
    }
}